* {
    box-sizing: border-box;
}

p {
  font-size: 10pt;
}

.about {
  text-align: center;
  margin: 10px;
}

.aboutRow {
  margin-top: 40px !important;
  min-height: 200px !important;
}

.question {
  padding: 10px;

}

.answer {
  padding: 10px;
}

.pics {
  margin-bottom: 20px;
  height: auto;
  max-height: 275px;
  max-width: 100%;
}

.hockeyLogo {
  display: inline-block;
  max-width: 40%;
  height: auto;
  margin: 10px;
}
