* {
  box-sizing: border-box;
}

.homePhoto {
  opacity: 0.4;
  width: 100%;
  height: auto;
}

.containerItem {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.name {
  font-size: 72pt;
}

.profile {
  margin: 10px auto;
  display: block;
  max-width: 100%;
  height: auto;
  border-radius: 20px;
}

.lead {
  font-size: 36pt;
}

@media (max-width: 1200px) {
  .name {
    font-size: 36pt;
  }
}

@media (max-width: 575px) {
  .name {
    font-size: 18pt;
  }

  .profile {
    max-width: 60%;
    border-radius: 20px;
  }
}

.learnMore {
  height: 50px;
  background-color: black;
  color: white;
  width: 100%;
  margin: 10px auto;
}
