.view {
  position: fixed;
  width: 100%;
  height: 100%;
  overflow: false;
  z-index: -1;
}

.coverPhoto {
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  padding: 0;
  border: 0;
  z-index: -1;
}

.containerInfo {
  max-width: 750px;
  max-height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  text-align: center;
  z-index: 1;
  margin-right: 50px;
  margin-top: 50px;
}

containerInfo.containerItem {
  display: block;
  max-width: 100%;
  margin: 20px;
}

.name {

}

.lead {
  
}

.learnMore {
  height: 50px;
  width: 150px;
  background-color: black;
  color: white;
}