.container {
  position: relative;
  max-width: 100%;
}

.coverphoto {
  width: inherit;
  position: absolute;
  left: 0;
  top: 0;
  padding: 0;
  border: 0;
  z-index: -1;
}

.container-info {
  width: 35%;
  position: absolute;
  top: 0;
  right: 0;
  text-align: center;
  margin: auto;
  z-index: 1;
}

container-info.display-3 {

}

container-info.lead {
  padding: 25px;
  text-align: center;
  z-index: 1;
  position: absolute;
}

container-info.learnMore {
  position: absolute;
  height: 50px;
  width: 200px;
  background-color: black;
  color: white;
  z-index: 1;
}